nav#sidebar.sidebar.sidebar-offcanvas
  .sidebar-brand-wrapper.d-none.d-lg-flex.align-items-center.justify-content-center.fixed-top
    a.sidebar-brand.brand-logo(href='../../index.html')
      img(src='../../assets/images/logo.svg' alt='logo')
    a.sidebar-brand.brand-logo-mini(href='../../index.html')
      img(src='../../assets/images/logo-mini.svg' alt='logo')
  ul.nav
    
   
    li.nav-item.nav-category
      span.nav-link Navigation
    li.nav-item.menu-items
      a.nav-link(href='http://127.0.0.1:5000/backend/uploadproduct')
        span.menu-icon
          i.mdi.mdi-speedometer
        span.menu-title Upload Product
    li.nav-item.menu-items
      a.nav-link(href='http://127.0.0.1:5000/blogadmin/newblog')
        span.menu-icon
          i.mdi.mdi-speedometer
        span.menu-title Upload Blog
    li.nav-item.menu-items
      a.nav-link(href='http://127.0.0.1:5000/backend/allproduct')
        span.menu-icon
          i.mdi.mdi-speedometer
        span.menu-title All Product
    li.nav-item.menu-items
      a.nav-link(href='http://127.0.0.1:5000/blogadmin/blogall')
        span.menu-icon
          i.mdi.mdi-speedometer
        span.menu-title All Blog
    


